{$SENTRICODE_DOMAIN} {
    encode zstd gzip
    request_body {
        max_size 30MB
    }
    reverse_proxy app:8000
    header {
        Strict-Transport-Security "max-age=31536000"
        -Server
    }
}

